<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/layout.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    
    <%- style%>
</head>
<body >
    <%- include('_header');%>
    <%- body%>
    <%- include('_footer');%>
    <%- script%>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  </body>
</body>